*{
    margin: 0;
    padding: 0;
    font-family: 'open sans';
    font-size: 1em;
    letter-spacing: 0.05em;
    font-style: normal;
    font-weight: 800;
}

/* Untuk Google Chrome saat di minimize*/

#com{
    margin-left: 13em;
    margin-top: -2em;
}

#player1{
    margin-top: -2em;
    margin-left: -3em;
}


#refresh{
    margin-left: 8.5em;
    margin-top: -6em;
}

#VS{
    display: grid;
    border-radius: 20px;
    height : 80px;
    width: 100px;
    color: white;
    margin-left:1em;
    margin-top: -2em;
    font-size:2em;
    color: #BD0000;
    position : absolute;
}

#resultbaru{
    display: grid;
    border-radius: 4px;
    height : 3em;
    width: 4em;
    color: white;
    margin-left:5em;
    margin-top:-4em;
    font-size:2em;
    font-weight: 700;
    background-color: #4C9654;
    position : absolute;
    text-align: center;
    transform: rotate(-28.87deg);
    justify-items: center;
}

.judul{
    margin-left: 6em;
    margin-top: 3em;
    color: #F9B23D;
}

#batu{
    margin-left: -13em;
    margin-top: -2em;
}

#batu2{
    margin-top: -2em;
    margin-left: -7em;
}

#kertas{
    margin-left: -13em;
    margin-top: -1em;
}

#kertas2{
    margin-top:-6em;
    margin-left:15em;
    position: absolute;
}

#gunting{
    margin-left: -13em;
    margin-top: -1em;
}

#gunting2{  
    margin-top: -1em;
    margin-left: -4.5em;
}

.logo{
    margin-top: -3em;
    margin-left: 2.5em;
}

.left-arrow a{
    font-size: 1.8em;
    color: #724C21;
    letter-spacing: 0.1em;
    font-weight: 700;
    margin-top: -2em;
    margin-left: 0.5em;
}

button{
    background-color: #9C835F;
    border: none;
    height: 6em;
    width : 6em;
}

button:hover{
    background-color:#C4C4C4;
    border-radius: 30px;
}

button.active{
    background-color:#c4c4c4;
    transform: translateY(4px);
    border-radius: 30px;
}


/* Responsive untuk layar hp(small devices)*/
@media only screen and (min-width: 576px ) {
.judul{
    font-size: 1em;
    margin-left: 6em;
    margin-top: 1em;
}
.logo{
    margin-top: -6em;
}
.left-arrow{
    margin-top: -2.8em;
}
#player1{
    font-size: 0.9em;
    margin-top: -1em;
}
#com{
    font-size: 0.9em;
    margin-top: -1.9em;
    margin-left: 25em;
}
#batu{
    margin-left: -12em;
}
#batu2{
    margin-left: 12em;
    margin-top: -6em;
}
#kertas{
    margin-left: -12em;
}
#kertas2{
    margin-left: 12em;
}
#resultbaru{
    margin-left: -0.3em;
}
#gunting{
    margin-left: -11em;
}
#gunting2{
    margin-left: 13em;
    margin-top: -6.5em;
}
}

/* Untuk Tablet (medium devices)*/
@media only screen and (min-width: 768px ) {
.judul{
    font-size: 1.3em;
}
.logo{
    margin-top: -7em;
}
.left-arrow{
    margin-top: -3.1em;
}
#resultbaru{
    height : 500px;
    width: 760px;
    text-align: center;
    justify-items: center;
}
#player1{
    font-size: 1.2em;
}
#com{
    font-size: 1.2em;
    margin-left: 18.5em;
    margin-top: -2em;
}
}

/*Untuk Extra Large Devices*/
@media only screen and (min-width: 1200px ) {
.judul{
    margin-top:-1em;
    position: absolute;
}
.logo{
    margin-top: -1.5em;
    margin-left: 3.5em;
    position: absolute;
}
.left-arrow{
    margin-top: -1.7em;
    position: absolute;
}

#player1{
    position: absolute;
    margin-top: 3em;
    margin-left: 3em;
    font-size: 1.8em;

}
#com{
    position: absolute;
    margin-top:3em;
    margin-left: 26em;
    font-size: 1.8em;
}
#batu{
    position: absolute;
    margin-left: -2em;
    margin-top: 8em;
}
#batu2{
    margin-top:8em;
    margin-left: 38em;
    position: absolute;
}
#kertas{
    position: absolute;
    margin-top: 15em;
    margin-left: -2em;
}
#kertas2{
    position: absolute;
    margin-top: 15em;
    margin-left: 38em;
}
#VS{
    font-size: 3.5em;
    margin-left: 5em;
    margin-top: 4.5em;
}
#gunting{
    position: absolute;
    margin-left:-2em;
    margin-top: 23em;

}
#gunting2{
    margin-left: 38em;
    margin-top: 5em ;
}
#refresh{
    margin-left: 25em;
    margin-top: 20em;
}
#resultbaru{
    width: 7em;
    height: 2em;
    margin-left: 6.5em;
    margin-top: 8em;
}
}

